extends ../layouts/layout
block content
    h1.
        Locations
    ul
        each location, i in locations
            li=location.name
                | &nbsp;-&nbsp;
                =location.description