extends ../layouts/layout
block extra_stylesheets
    link(rel='stylesheet', href='/stylesheets/registration.css')
block content
    div(class="headings")
        h1 Register
        h2 Join as a new member.
    div(class="content")
        div(id="registration")
            form(action="/createUser", method="post", name="createUser")
                label Username
                input(name="username", type="text")
                label Password
                input(name="password", type="password")
                label Confirm password
                input(name="passwordConfirm", type="password")
                label Email
                input(name="email", type="text")
                label Confirm email
                input(name="emailConfirm", type="text")
                button(id="register-button", type="submit") Register
