extends ../layouts/layout
block content
    h1.
        Login
    if errorMsg
        p= errorMsg
    if infoMsg
        p= infoMsg
    form#formLogin(action="/login", class="basic-form", method="post", name="login")
        div#divUsername(class="basic-input")
            label#labelUsername(for="username") Username
            input#inputUsername(type="text", name="username")
        div#divPassword(class="basic-input")
            label#labelPassword(for="password") Password
            input#inputPassword(type="password", name="password")
        button#buttonLogin(type="submit") Login
    | Not yet a user?&nbsp;
    a(href="/createUser") Register<br>
    | Forgot your password?&nbsp;
    a(href="/resetPassword") Request a password reset<br>
