doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/basicStyle.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/login") Login
          li
            a(href="/createUser") Register
          li
            a(href="/logout") Logout
    block content
