extends layout
block content
    h1= title
    form#formCreatePost(name="createPost", method="post", action="/createPost")
        input#inputTitle(type="text", placeholder="postTitle", name="postTitle")
        input#inputDescription(type="text", placeholder="postDescription", name="postDescription")
        button#buttonSubmit(type="submit") submit