extends layout

block content
  h1= title
  if loggedInUser
    p Hello #{loggedInUser.name}, welcome to #{title}
  else
    p Welcome to #{title}
  p
    a(href="/login") login<br>
    a(href="/users") current users<br>
    a(href="/groups") current groups<br>
    a(href="/createGroup") create new group<br>
    a(href="/posts") current posts<br>
    a(href="/createPost") create new post<br>
    a(href="/logout") logout