extends layouts/basicLayout

block content
  h1= title
  if user
    p Hello #{user.username}, welcome to #{title}
    p
      a(href="/logout") logout<br>
      a(href="/listGroups") current groups<br>
      a(href="/listPosts") current posts<br>
      a(href="/listUsers") current users<br>
      a(href="/createGroup") create new group<br>
  else
    p Welcome to #{title}
    p
      // This login form is duplicated from login.jade, see if there is a way to share code...
      form#formLogin(action="/login", class="basic-form", method="post", name="login")
        div#divUsername(class="basic-input")
            label#labelUsername(for="username") Username
            input#inputUsername(type="text", name="username")
        div#divPassword(class="basic-input")
            label#labelPassword(for="password") Password
            input#inputPassword(type="password", name="password")
        button#buttonLogin(type="submit") Login
      | Not yet a user?&nbsp;
      a(href="/createUser") Register<br>
