extends layouts/layout

block content
    div(class="headings")
        h1 Welcome to Coagency
            if user
                h2 Welcome back #{user.username}, selling or buying today?
            else
                h2 Connecting you to agents across Malaysia.
    div(class="content")
        if errorMsg
            p= errorMsg
        if infoMsg
            p= infoMsg
        if user
            p
                a(href="/myListings") My listings<br>
                a(href="/listGroups") My groups<br>
                a(href="/createGroup") Create a new group<br>
        else
            p Sign in:
                // This login form is duplicated from login.jade, see if there is a way to share code...
                form(action="/login", class="login", method="post", name="login")
                    input(class="margin_left", type="text", name="username", placeholder="USERNAME")
                    input(type="password", name="password", placeholder="password")
                    button(type="submit") Login
    div(class="footer")
        if !user
            p
                | <br>Not yet a user?&nbsp;
                a(href="/createUser") Register<br>
                | Forgot your password?&nbsp;
                a(href="/passwordReset") Request a password reset<br>
