extends layout

block content
  h1= title
  if loggedInUser
    p Hello #{loggedInUser.name}, welcome to #{title}
  else
    p Welcome to #{title}
  p
    a(href="/login") login<br>
    a(href="/listUsers") current users<br>
    a(href="/listGroups") current groups<br>
    a(href="/createGroup") create new group<br>
    a(href="/listPosts") current posts<br>
    a(href="/createPost") create new post<br>
    a(href="/logout") logout