extends layout
block content
    h1.
        Login
    if errorMsg
        p= errorMsg
    if infoMsg
        p= infoMsg
    form#formLogin(name="login",method="post",action="/login")
        input#inputUsername(type="text", placeholder="username", name="username")
        input#inputPassword(type="text", placeholder="password", name="password")
        button#buttonLogin(type="submit") login
