extends ../layouts/basicLayout
block content
    h1= title
    if errors
        h2 Errors
        each error, i in errors
            =error.msg
            br
    form#formCreateListing(name="createListing", method="post", action="/createListing")
        h2 Mandatory fields<br>
        | Description:<br>
        textarea(name="description", style="height: 100px; width: 400px;")
        | <br>Location:
        input(name="location", type="text")
        | <br>Type:
        input(name="type", type="radio", value="forSale")
        | For Sale
        input(name="type", type="radio", value="forRent")
        | For Rent<br>
        | Listing Category:
        input(type="radio", value="residential", name="category")
        | Residential
        input(type="radio", value="commercial", name="category")
        | Commercial<br>
        | Property Type:
        select(name="property")
            option(value="terrace") 2-sty Terrace/Link House
            option(value="condo") Condominium
            option(value="bungalow") Bungalow
        | <br>Land Area:
        input(type="text", name="area")
        | <br>Size Measure Code:
        select(name="measure")
            option(value="squareFeet") Square Feet
            option(value="squareMeters") Square Meters
        | <br>Asking Price:
        input(type="text", name="price")
        | <br>Bedrooms:
        select(name="bedrooms")
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") More than 4
        | <br>Bathrooms:
        select(name="bathrooms")
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") More than 3
        | <br>Tenure:
        select(name="tenure")
            option(value="freehold") Freehold
            option(value="leasehold") Leasehold
        | <br>
        h2 Optional fields<br>
        | Auction:
        input(type="checkbox", value="true", name="isAuction")
        // would like to use native HTML5 date input, but unfortunately browser support is lacking
        input(type="text", placeholder="dd/MM/yyyy time", name="auctionDate")
        | <br>Direction:
        select(name="direction")
            option(value="unknown") Unknown
            option(value="north") North
            option(value="east") East
            option(value="south") South
            option(value="west") West
        | <br>Occupied:
        select(name="status")
            option(value="vacant") Vacant
            option(value="occupied") Occupied
        | <br>
        | <br>
        input(name="groupId", type="text", value="#{groupId}")
        button(type="submit") submit