extends ../layouts/layout
block content
    div(class="headings")
        h1 My Listings
        h2 Currently active listings.
    div(class="content")
        ul(class="margin_left_big")
            each listing, i in listings
                li
                    a(href="/viewListing?listingId=#{listing._id}") #{listing.location}&nbsp;-&nbsp;#{listing.description}
    div(class="content")
