extends ../layouts/layout
block extra_stylesheets
    link(rel='stylesheet', href='/css/registration.css')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='/js/validation.js')
block content
    div(class="headings")
        h1 Create Group
        h2 Choose a name and description.
    div(class="content")
        div(id='registration')
            form(action='/createGroup', method='post', onsubmit='return validateGroupCreation()')
                label Name
                input(id='name', type="text", name="groupName")
                label Description
                input(id='description', type="text", name="groupDescription")
                button(class='margin_left', type="submit") Create
    div(class="footer")