extends ../layout
block content
    h1.
        Group - #{group.name}
    h2.
        #{group.description}
    if isAdministrator
        a(href="/addGroupUser?groupId=#{group._id}") Add user to group
    h3.
        Property listings:
    ul
        li Hello
